/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14.04.2022, 14:31:44
    Author     : HoziainKompa365
*/
.main {
    -fx-background-color: lightcyan;
    -fx-alignment: CENTER;
    -fx-hgap: 40pt;
    -fx-vgap: 40pt;

}

.label{
    -fx-text-fill: black;
   
    
}

.button{
    -fx-color: yellow;

}

